* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Lato;
}

/* first section styles */
.first-sec {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50%;
    gap: 300px;
}

.left-side {
    margin-left: 240px;
    margin-top: 180px;
}

.first-head {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

    /* margin: 190px 970px 360px 240px; */

}

.first-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;

}

.common-btn {
    border-radius: 5px;
    background-color: #E55473;
    padding: 15px 30px;
    color: white;
    margin-top: 20px;

}

.first-img {

    margin-top: 50px;

}

/* bonus section styles */
.bonous-section {
    background-color: #FFF;
    margin: 30px 250px;
    height: 100vh;
    margin-top: 50px;

}

.sec-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.sec-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;

}

.sec-middle {
    display: flex;
    gap: 50px;
    margin-left: 200px;

}

.first-middle {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}

.same {
    padding: 30px 30px 0px 30px;
}

.second-middle {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}

.second {
    padding: 10px;
    width: 350px;

}

.third-middle {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;

}

.third {
    padding: 30px 30px 0px 30px;

}

.sec-third>ul {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;

    list-style: none;

}

.first-list {
    color: #272727;
    text-align: center;

    font-size: 24px;

    font-weight: 700;

    text-decoration-line: underline;
    margin-left: 280px;

}

.second-list {
    color: #272727;
    text-align: center;

    font-size: 24px;

    font-weight: 700;

    text-decoration-line: underline;

}

.third-list {
    color: #272727;
    text-align: center;

    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-right: 200px;


}



.sec-last {
    display: flex;

    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 60px 120px;
    gap: 100px;
    margin-left: 200px;


}

.first-logo {
    padding: 40px;
    margin-left: 100px;
}

.second-logo {
    padding: 40px;
}

.third-logo {
    padding: 40px;
}

.sec-img {
    margin-left: 60px;
}

.part-img {
    margin-left: 60px;
}

.last-img {
    margin-left: 20px;
}

.first-sust {
    margin-top: 10px;
}

.second-sust {
    margin-top: 10px;
}

.third-sust {
    margin-top: 10px;

}

/* fourth section or hot deal */
.fourth-section {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.left-deal {
    margin-left: 240px;
    margin-top: 180px;
    text-align: center;
}

.text-red {
    color: #E55473;
}

.fourth-img {
    padding: 40px;
}

/* fifth section or instagram */
.fifth-section {
    margin-top: 50px;
    background: #FFF;
}

.second-instagram {
    display: flex;
    margin-top: 30px;

}

.some-items {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-left: 300px;
}

.sust-items {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-left: 20px;
}

.bau-items {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-left: 20px;

}

.du-items {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-left: 20px;
}

.instagram-img {}

/* sixth section */
.sixth-section {
    margin-top: 50px;
    background-image: url("Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 40vh;
    margin-left: 300px;

}

.select-text {
    padding-top: 100px;
}

.second-latest {
    margin-left: 350px;
}

.email-search {
    padding: 15px 200px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
}

.select-btn {
    margin-left: 20px;
}

/* footer styles */
.footer-part {
    margin-top: 50px;
    background-color: #272727;
    color: white;
    width: 100%;
    height: 40vh;
}

.margin {
    padding-top: 100px;
}

.text-white {
    color: white;
}

small {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 850px;

}